.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "section-b section-c section-d"
        "section-e section-f section-g"
        "section-h section-h section-h"
        "section-h section-h section-h";
    grid-gap: 20px;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, fr);
}
.header {
    grid-area: header;
}
.section-b {
    grid-area: section-b;
}
.section-c {
    grid-area: section-c
}
.section-d {
    grid-area: section-d
}
.section-e {
    grid-area: section-e
}
.section-f {
    grid-area: section-f
}
.section-g {
    grid-area: section-g
}
.section-h {
    grid-area: section-h
}

@media (min-width: 720px) {
    .container {
        display: grid;
    }
}
 
@media (min-width: 1200px) {
    .container{
grid-template-areas:
        "header header header header"
        "section-b section-c section-d section-h"
        "section-e section-f section-g section-h";
    grid-gap: 5px;
    min-height: 100vh;
}
}